@model ForgetPasswordViewModel
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main">
    <section class="sign-in">
        <div class="container mt">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/AuthImages/ConfirmEmail.jpg" alt="Confirm Email"></figure>
                </div>
                <div class="signin-form mt-5 pt-5">
                    <h3 class="form-title">Check Your Inbox</h3>
                    <h6>A confirmation message has sent to your Email</h6>
                </div>
            </div>
        </div>
    </section>
</div>



