@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/AuthImages/signin-image.jpg" alt="sing up image"></figure>
                    <a asp-action="Register" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">@ViewData["Title"]</h2>
                    <form method="POST" class="register-form" id="login-form" asp-action="ForgetPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"><i class="zmdi zmdi-email"></i></label>
                            <input asp-for="Email" placeholder =" Your Email" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
                            <input asp-for="Password" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <input asp-for="RememberMe" />
                            <label asp-for="RememberMe" class="label-agree-term"><span><span></span></span>Remember me</label>
                        </div>
                        <div class="form-group">
                            <a asp-action="ForgetPassword">Forget password?</a>
                        </div>

                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" asp-action="Login" />
                        </div>
                    </form>
                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

